$theme-color-1: #fff;
$theme-color-2: teal;
$theme-color-3: text-grey-8;

.theme-primary {
    .theme-header {
        background: $theme-color-1;
        color: $theme-color-2;

        .home-container {
            .home-icon {
                color: $theme-color-2;
            }
        }

        .progress-container {
            background: $theme-color-1;

            .progress-bar {
                color: $theme-color-2;
            }
        }

        .sound-container {
            .sound-icon {
                color: $theme-color-2;
            }
        }
    }

    .theme-footer {
        background: $theme-color-1;

        .next-button {
            background-color: $theme-color-2;
        }
    }

    // game components
    .theme-instruction {
        background: $theme-color-1;
        color: $theme-color-2;
    }

    .theme-two-choices {
        background: $theme-color-1;
        color: $theme-color-2;

        .active-choice {
            background: $theme-color-2;
            color: $theme-color-1;
        }

        .inactive-choice {
            background: $theme-color-1;
            color: $theme-color-2;
        }
    }

    .theme-one-input {
        background: $theme-color-1;
        color: $theme-color-2;

        .q-field--standout.q-field--focused .q-field__control {
            background-color: $theme-color-2;
        }

        .q-field--standout .q-field__native {
            color: $theme-color-2;
        }

        .q-field--standout.q-field--focused .q-field__native {
            color: $theme-color-1;
        }
    }

    .theme-banner {
        background: $theme-color-1;
        color: $theme-color-2;
    }

    .theme-multi-single-text {
        background: $theme-color-1;
        color: $theme-color-2;

        .active-choice {
            background: $theme-color-2;
            color: $theme-color-1;
        }

        .inactive-choice {
            background: $theme-color-1;
            color: $theme-color-2;
        }
    }

    .theme-multi-single-imaged {
        background: $theme-color-1;
        color: $theme-color-2;

        .active-choice {
            background: $theme-color-2;
            color: $theme-color-1;
        }

        .inactive-choice {
            background: $theme-color-1;
            color: $theme-color-2;
        }
    }

    .theme-multi-multi-text {
        background: $theme-color-1;
        color: $theme-color-2;

        .active-choice {
            background: $theme-color-2;
            color: $theme-color-1;
        }

        .inactive-choice {
            background: $theme-color-1;
            color: $theme-color-2;
        }
    }

    .theme-multi-multi-imaged {
        background: $theme-color-1;
        color: $theme-color-2;

        .active-choice {
            background: $theme-color-2;
            color: $theme-color-1;
        }

        .inactive-choice {
            background: $theme-color-1;
            color: $theme-color-2;
        }
    }
}
